@tailwind base;
@tailwind components;
@tailwind utilities;

/* Hide scrollbar for IE, Edge and Firefox */
body::-webkit-scrollbar {
  display: none;
}
body {
  -ms-overflow-style: none;
  scrollbar-width: none;
}

/* Selection / Highlighting stuff */
*/ ::-moz-selection {
  /* Code for Firefox */
  color: white;
  background: #baf2bb;
}

::selection {
  color: white;
  background: #baf2bb;
}

/* Navbar */

#navbar {
  position: fixed;
  top: -100%; /* Start off-screen */
  transition: top 0.7s ease, background-color 1s ease, color 0.9s ease;
  z-index: 1000;
}

#navbar.scrolled {
  top: 0; /* Slide in */
  background-color: rgba(255, 255, 255, 0.4);
  backdrop-filter: blur(10px);
  color: black; /* Change text color */
}

#navbar.scrolled p {
  color: black;
}

#navbar.scrolled h1 {
  color: #56e39f;
}

/* Hero Section title animation */
.fade-up {
  animation: fadeUpAndDisappear 0.5s ease forwards;
}

@keyframes fadeUpAndDisappear {
  to {
    opacity: 0;
    transform: translateY(-px); /* Adjust the value as needed */
  }
}

/* Hero background image styling */
.hero-bg {
  background-image: linear-gradient(
      to bottom,
      rgba(0, 0, 0, 0.5),
      rgba(0, 0, 0, 0.6) 8%,
      rgba(54, 48, 48, 0.1)
    ),
    url("https://th.bing.com/th/id/R.e3d44cbf0d403a667352b183271486fe?rik=rSqx67GOByaFAg&riu=http%3a%2f%2fwallup.net%2fwp-content%2fuploads%2f2015%2f12%2f204024-road-sunset-field-Italy-clouds-grass-mountain-wildflowers-green-landscape-nature.jpg&ehk=BXynnaZJuEVj7f4iL2lViOA7yqCafPd28qizWIxqfVc%3d&risl=&pid=ImgRaw&r=0");
  background-repeat: no-repeat; /* Prevents background from repeating */
  background-size: cover; /* Makes the image scale to cover the element */
  background-position: center; /* Centers the background image */
}
/* Hero arrow */
@keyframes bounce {
  0%,
  100% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(
      -20px
    ); /* Adjust the value for more or less movement */
  }
}

.arrow-bounce {
  position: absolute;
  bottom: 50px; /* Adjust based on your layout */

  transform: translateX(-50%); /* Center the arrow horizontally */
  animation: bounce 2s infinite; /* Use the bounce animation, play it forever */
}

/*  Support section divider*/

/* Products home page styling */

.arrow-spin {
  animation: spin 1s ease;
}

/* Apply a permanent translation to the active item */
.active-text {
  transform: translateX(20px);
}

/* Animation for sliding in */
.slide-text {
  animation: slideText 1s ease forwards;
}

/* Spin animation */
@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(1080deg); /* 360 degrees * 3 */
  }
}

/* Slide animation */
@keyframes slideText {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(10px);
  }
}

/* Box folding animation */

.animation-wrapper {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 1100;
  background: transparent;
}

.panel {
  position: absolute;
  width: 100%;
  height: 100%;
  background: green;
  animation-duration: 0.5s;
  animation-fill-mode: forwards;
}

#animationWrapper {
  position: fixed;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  perspective: 1000px;
}

.box {
  position: absolute;
  width: 100%;
  height: 100%;
  background-color: limegreen;
  transform-style: preserve-3d;
}

.animate {
  animation: foldBox 1s forwards;
}

@keyframes foldBox {
  0% {
    transform: rotateY(0deg);
  }
  100% {
    transform: rotateY(-90deg);
  }
}

.sliding-bar-container {
  position: relative;
  height: 4px; /* Height of the bar */
  background: whitesmoke;
}

.sliding-bar {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 35%; /* Equal to the width of one card */
  height: 100%;
  background-color: green; /* Your choice of color */
  transition: transform 0.3s ease-in-out; /* Smooth sliding effect */
}


.huge-icon {
  font-size: 9rem; /* 128px */
  line-height: 1;
}
.smaller-big-icon {
  font-size: 8rem; /* 128px */
  line-height: 1;
}
.small-big-icon {
  font-size: 8.2rem; /* 128px */
  line-height: 1;

}
